.form {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    position: absolute;
    margin: 0% auto;
    justify-content: space-around;
    padding: 5%;
}

body{
    background-color: rgb(78, 181, 233) !important;
}

.formcontent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.group input {
    margin: 10px;
}

.group label {
    color: black;
    font-size: 18px;
    font-weight: 560;
}

.btn_add {
    width: 90%;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
}

.btn_add button {
    width: 100%;
    padding: 1%;
    border-radius: 20px;
    font-weight: 560;
}

@media screen and (min-width: 1060px){
    .btn_add {
        width: 90%;
        position: absolute;
        top: 40%;
        display: flex;
        justify-content: center;
    }
    
}

@media screen and (max-width: 870px){
    .btn_add {
        width: 90%;
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: center;
    }
    
}

@media screen and (max-width: 428px){
    .btn_add {
        width: 90%;
        position: absolute;
        top: 70%;
        display: flex;
        justify-content: center;
    }
    
}